workflows/meetings-fireflies-summary-slack.json
{"id":"K1bY275O7AyoJiAF","name":"Meetings - Fireflies Summary - Slack","active":false,"versionId":"b1c3378a-20b0-4b79-b7ef-a270e98678d9","settings":{"executionOrder":"v1"},"connections":{"Daily 9am Trigger":{"main":[[{"node":"Fetch Fireflies Meetings","type":"main","index":0}]]},"Fetch Fireflies Meetings":{"main":[[{"node":"Filter & Format Meetings","type":"main","index":0}]]},"Filter & Format Meetings":{"main":[[{"node":"Post to #meetings","type":"main","index":0}]]}},"nodes":[{"id":"1113529d-5134-4acf-8b90-5d0325793c76","name":"Daily 9am Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"days","daysInterval":1,"triggerAtHour":9,"triggerAtMinute":0}]}}},{"id":"12910422-dfff-43e7-9603-73500be1574e","name":"Fetch Fireflies Meetings","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0],"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":{"query":"query { transcripts(limit: 10) { id title date duration summary { overview action_items keywords } participants { displayName } } }"}}},{"id":"b233f883-7a46-4b11-9ffe-c3cdeb1b0ee0","name":"Filter & Format Meetings","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const items = $input.all();\nconst rawData = items[0].json;\nconst transcripts = rawData && rawData.data && rawData.data.transcripts ? rawData.data.transcripts : [];\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nconst recentMeetings = transcripts.filter(function(t) {\n  const meetingDate = new Date(t.date);\n  return meetingDate >= yesterday && meetingDate <= now;\n});\nif (recentMeetings.length === 0) {\n  return [{ json: { hasMeetings: false, slackMessage: ':calendar: No new meeting recordings found in the past 24 hours.' } }];\n}\nconst formattedItems = recentMeetings.map(function(meeting) {\n  const title = meeting.title || 'Untitled Meeting';\n  const date = meeting.date ? new Date(meeting.date).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) : 'Unknown date';\n  const duration = meeting.duration ? Math.round(meeting.duration / 60) + ' min' : 'Unknown duration';\n  const overview = (meeting.summary && meeting.summary.overview) ? meeting.summary.overview : '_No summary available._';\n  const actionItems = (meeting.summary && meeting.summary.action_items) ? meeting.summary.action_items : '_No action items recorded._';\n  const lines = [\n    '*:movie_camera: ' + title + '*',\n    ':calendar: ' + date + '  :timer_clock: ' + duration,\n    '',\n    '*Summary*',\n    overview,\n    '',\n    '*Action Items*',\n    actionItems\n  ];\n  return { json: { hasMeetings: true, slackMessage: lines.join('\n'), meetingTitle: title } };\n});\nreturn formattedItems;\n"}},{"id":"80b87d48-9f7e-4bad-a9dc-561dad330b2d","name":"Post to #meetings","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[672,0],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"name","value":"meetings"},"messageType":"text","text":"={{ $json.slackMessage }}","otherOptions":{"mrkdwn":true,"includeLinkToWorkflow":false}}}],"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"description":"Runs daily at 9am, fetches the past 24 hours of Fireflies.ai meeting recordings, and posts each meeting's title, AI summary, and action items to the Slack #meetings channel."}