workflows/notifications-email-triage-slack.json
{"id":"5nzkXmigoTODmeb1","name":"Notifications - Email Triage - Slack","active":false,"isArchived":false,"versionId":"cb56fd48-1292-44d3-91ad-a449f9520cbf","settings":{"executionOrder":"v1","availableInMCP":true},"connections":{"Gmail - New Unread Emails":{"main":[[{"node":"AI - Classify Email Priority","type":"main","index":0}]]},"AI - Classify Email Priority":{"main":[[{"node":"Is Priority?","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI - Classify Email Priority","type":"ai_languageModel","index":0}]]},"Email Classification Schema":{"ai_outputParser":[[{"node":"AI - Classify Email Priority","type":"ai_outputParser","index":0}]]},"Is Priority?":{"main":[[{"node":"Slack - Send Priority Alert","type":"main","index":0}]]}},"nodes":[{"id":"78f8f3ed-9a6a-434a-b0ea-38b21ecf0728","name":"Gmail - New Unread Emails","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,112],"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":15,"unit":"minutes"}]},"simple":false,"maxResults":20,"filters":{"readStatus":"unread"}}},{"id":"e6143ef3-55fb-4510-85be-e72f828045f5","name":"AI - Classify Email Priority","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[224,112],"parameters":{"promptType":"define","text":"=Analyze this email and classify its priority.\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody: {{ $json.text || $json.snippet }}\n\nClassify whether this email:\n- is_priority: true if it is urgent, high-priority, time-sensitive, or contains action items; false otherwise\n- priority_type: one of \"urgent\", \"action_required\", \"important\", or \"none\"\n- summary: a single sentence describing what this email is about\n- action_items: array of specific actions the recipient needs to take (empty array if none)","hasOutputParser":true,"options":{"systemMessage":"You are an email triage assistant for a busy professional. Identify emails needing immediate attention: urgent requests, deadlines, action items, or important decisions. An email is priority if it contains keywords like urgent, ASAP, action required, deadline, approval needed, important, high priority, or explicitly asks the recipient to do something. Be concise and accurate."}}},{"id":"3cfa7b7a-8044-417c-8b1f-6711e47795d4","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[240,336],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.1}}},{"id":"e66a2c18-14d0-4ba4-b128-562f80e5f5b5","name":"Email Classification Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[368,336],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"is_priority\": true, \"priority_type\": \"urgent\", \"summary\": \"CFO requests Q3 budget approval by Friday EOD\", \"action_items\": [\"Review Q3 budget document\", \"Send approval by Friday EOD\"]}"}},{"id":"2d44314f-40f2-494b-af09-f0ffb05d7f33","name":"Is Priority?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,112],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"condition1","leftValue":"={{ $json.is_priority }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}}},{"id":"0b29216f-f86a-48d2-8976-f9e0bcc0304c","name":"Slack - Send Priority Alert","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[800,112],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"name","value":"email-alerts"},"messageType":"text","text":"=🚨 *Priority Email Alert*\n\n*From:* {{ $(\"Gmail - New Unread Emails\").item.json.from }}\n*Subject:* {{ $(\"Gmail - New Unread Emails\").item.json.subject }}\n*Type:* {{ $json.priority_type.toUpperCase() }}\n\n📋 *Summary:* {{ $json.summary }}\n\n✅ *Action Items:*\n{{ $json.action_items.map((item, i) => (i+1) + \". \" + item).join(\"\\n\") || \"None\" }}","otherOptions":{"includeLinkToWorkflow":false,"mrkdwn":true}}}],"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"description":"Polls Gmail every 15 minutes for unread emails, uses AI to classify urgency and extract action items, then sends a Slack alert for any priority or action-required emails."}